<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="{% static 'scoreboard/js/scoreboard.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'scoreboard/css/style.css' %}">
    <title>Tag Change</title>

</head>

<body class="">
    <!-- <span onclick="history.back()">&larr;</span> -->
    <div class="container p-3">
        <div class="row g-2">
            <div class="col-12 col-lg-12 badge text-bg-primary" onclick="history.back()">
                <div class="text-center" role="alert">
                    <h1>&larr; API Kirk Containers - Machines:</h1>
                </div>
            </div>    
        </div>
    </div>
    

    <div class="container p-3 bg-light">    
        <div class="row ">
                <div class="col-6 col-lg-3">
                        <div class="card  {{ machine.machine_id }} text-center mt-3" style="animation:'ok';">
                            <div class="alert m-0">
                                <h1>{{ id.machine_id }}</h1>
                                <div class="card-body">
                                    <!-- <br> -->
                                    <h4 class="cart-title">{{ id.percentage }}%</h4>
                                    <h4 class="cart-text">{{ id.tag_id.tag }}</h4>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-6 col-lg-3 p-4">
                    <form method="get" action="{% url 'tag_update' id.machine_id %}">
                        {% csrf_token %}
                        <h2>

                            <label for="tag">New Tag:</label>
                            <br><br>
                            <select name="tag" id="cars">
                                <option value="1">Scheduled</option>
                                <option value="2">Not Scheduled</option>
                                <option value="3">No Operator</option>
                                <option value="4">No Material</option>
                                <option value="4">Machine Issue</option>
                                <option value="4">Mold Issue</option>
                            </select>
                            <br><br>
                            <div class='nav navbar'>
                                <input type="button" class="btn btn-danger btn-lg" value="Cancel" onclick="history.back()" >
                                {% if user.is_authenticated %}
                                <input type="submit" class="btn btn-primary btn-lg float-right" value="Save">
                                {% else %}
                                <input type="button" class="btn btn-secondary btn-lg float-right" value="Save" onclick="alert('Login required!')">
                                {% endif %}
                            </div>
                        </h2>
                      </form>
                </div>
        </div>

    </div>
</body>
